<div class="container">
    <div class="confirmation-container edit-overall twinkle ">
        <h1>Cảm ơn bạn đã đặt hàng!</h1>
        <p>Dưới đây là thông tin chi tiết về đơn hàng của bạn</p>    
        <p>Ngoài ra, thông tin chi tiết về đơn hàng của bạn sẽ được gửi qua email!</p>
        <p>Vui lòng kiểm tra email để xem thêm chi tiết <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">Nhấn tại đây!</a></p> 
    </div>
    <div class="row twinkle">
        <table>
            <thead>
                <tr>
                    <th scope="col" class="text-start">Sản phẩm</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Đơn giá</th>
                    <th scope="col">Tổng giá</th>
                  </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of cartItems">
                <tr>
                    <td>
                        <div class="product-info">
                            <img 
                            [src]="item.product.thumbnail"
                            alt="Product Image" class="product-image">
                            <span class="product-name">{{ item.product.name }}</span>
                        </div>
                    </td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.product.price | number: '.0-0'  }} VND</td>
                    <td>{{ (item.product.price * item.quantity) | number: '.0-0'  }} VND</td>
                </tr>
            </ng-container>
                
            </tbody>
        </table>   
        <div class="text-start mt-3">
            <h4 class="header-text text-end ">Tổng giá: {{ totalAmount | number: '.0-0' }} VND</h4>
        </div>
        <div class="text-center mt-3">
           <button class="btn btn-gradient" type="button" (click)="returnHomePage()">Tiếp tục mua sắm</button>
        </div> 
    </div>    
</div>
<app-footer></app-footer>
