<div class="dashboard-sidebar">
    <!-- Add your dashboard components here -->
    <ul>
      <li><a routerLink="/admin/panel" routerLinkActive="active">Trang quản trị</a></li>
      <li><a routerLink="/admin/order-confirm/pending" routerLinkActive="active">Quản lý đơn hàng</a></li>
      <li><a routerLink="/admin/list-categories" routerLinkActive="active">Quản lý thể loại</a></li>
      <li><a routerLink="/admin/list-customers" routerLinkActive="active">Quản lý khách hàng</a></li>
      <li>
        <a (click)="toggleSubMenu1()" routerLinkActive="active" >+ Quản lý tài khoản</a>
        <ul *ngIf="subMenuVisible1" style="padding-left: 5px; margin-top: 10px;">
          <li><a routerLink="/admin/list-users" style="font-size: 20px; font-weight: normal;" routerLinkActive="active">- Chỉnh sửa tài khoản</a></li>
          <li><a routerLink="/admin/edit-users" style="font-size: 20px; font-weight: normal" routerLinkActive="active">- Thêm mới tài khoản</a></li>
        </ul>
      </li>
      <li>
        <a (click)="toggleSubMenu2()" routerLinkActive="active" >+ Quản lý nhà cung cấp</a>
        <ul *ngIf="subMenuVisible2" style="padding-left: 5px; margin-top: 10px;">
          <li><a routerLink="/admin/list-providers" style="font-size: 20px; font-weight: normal;" routerLinkActive="active">- Chỉnh sửa nhà cung cấp</a></li>
          <li><a routerLink="/admin/edit-providers" style="font-size: 20px; font-weight: normal" routerLinkActive="active">- Thêm mới nhà cung cấp</a></li>
        </ul>
      </li>
      <li>
        <a (click)="toggleSubMenu()" routerLinkActive="active" >+ Quản lý sản phẩm</a>
        <ul *ngIf="subMenuVisible" style="padding-left: 5px; margin-top: 10px;">
          <li><a routerLink="/admin/list-products" style="font-size: 20px; font-weight: normal;" routerLinkActive="active">- Chỉnh sửa sản phẩm</a></li>
          <li><a routerLink="/admin/edit-products" style="font-size: 20px; font-weight: normal" routerLinkActive="active">- Thêm mới sản phẩm</a></li>
        </ul>
      </li>
      <li><a routerLink="/admin/sales-analytics" routerLinkActive="active">Thống kê doanh thu</a></li>
    </ul>
  </div>