
<div class="dashboard-sidebar">
    <!-- Add your dashboard components here -->
    <ul>
      <li routerLink="/admin/panel" routerLinkActive="active-link">
        <div class="menu-item">
          <i class="fa fa-pie-chart"></i><a>Dashboard</a>
        </div>
      </li>
      <li  routerLink="/admin/order-confirm/pending"routerLinkActive="active-link">
        <div class="menu-item">
          <i class="fa-solid fa-cart-shopping"></i><a>Orders Management</a>
        </div>
      </li>

      <li routerLink="/admin/list-categories" routerLinkActive="active-link">
        <div class="menu-item">
          <i class="fa-solid fa-gift"></i><a>Categories Management</a>
        </div>
      </li>

      <li routerLink="/admin/list-customers" routerLinkActive="active-link">
        <div class="menu-item">
          <i class="fa-regular fa-user"></i><a>Customers Management</a>
        </div>
      </li>


        <li (click)="toggleSubMenu1()" routerLinkActive="active">
          <div class="menu-item  manage-products">
            <div class="logo">
              <i class="fa-solid fa-ghost"></i><a>+ Accounts Management</a>
            </div>
            <ul *ngIf="subMenuVisible1">
              <li routerLink="/admin/list-users" routerLinkActive="active-link-child"><a>- Edit accounts</a></li>
              <li routerLink="/admin/edit-users" routerLinkActive="active-link-child"><a>- Create an admin account</a></li>
            </ul>
          </div>
        </li>


      <li (click)="toggleSubMenu2()" routerLinkActive="active">
        <div class="menu-item  manage-products">
          <div class="logo">
            <i class="fa-solid fa-truck-fast"></i><a>+ Providers Management</a>
          </div>
          <ul *ngIf="subMenuVisible2">
            <li><a routerLink="/admin/list-providers" routerLinkActive="active-link-child">- Edit providers</a></li>
            <li><a routerLink="/admin/edit-providers" routerLinkActive="active-link-child">- Create a new provider</a></li>
          </ul>
        </div>
      </li>

      <li (click)="toggleSubMenu()" routerLinkActive="active" >
        <div class="menu-item manage-products">
          <div class="logo">
            <i class="fa-solid fa-inbox"></i><a>+ Products Management</a>
          </div>
          <ul *ngIf="subMenuVisible">
            <li><a routerLink="/admin/list-products" routerLinkActive="active-link-child">- Edit products</a></li>
            <li><a routerLink="/admin/edit-products" routerLinkActive="active-link-child">- Create a new product</a></li>
          </ul>
        </div>
      </li>

      <!-- <li routerLink="/admin/sales-analytics" routerLinkActive="active-link">
        <div class="menu-item">
          <i class="fa fa-pie-chart"></i><a>Thống kê dữ liệu</a>
        </div>
      </li> -->
    </ul>
</div>

