<app-header></app-header>
<div class="container edit-overall twinkle">
    <h2 data-text="Best-Sellers">Best-Sellers</h2>
    <h3 data-text="Shoes-Collection">Shoes-Collection</h3>
    <!-- This is the content of the image slider for shoes -->
    <!-- Nike -->
    <span>Nike</span>
    <div cdkDrag>
        <div class="nike">
            <div class="container-fluid">
                <div class="slider-wrap">
                    <div class="slider-main">
                        <div class="item">
    <div class="text">
        <img alt="">
    </div>
</div>


                    </div>
                    <div class="button-area">
                        <button type="button" class="prev" appPrev><i class="fa-solid fa-angle-left"></i></button>
                        <button type="button" class="next" appNext><i class="fa-solid fa-angle-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ... other brands and their items ... -->
</div>
<app-footer></app-footer>
