<app-header></app-header>
<div style="margin-top: 100px;">
<div class="dashboard">
  <app-admin-dashboard></app-admin-dashboard>
  <div class="container twinkle">
    <div class="confirmation-container">
        <h1>Thống kê doanh thu</h1>
        <p>Dưới đây là thống kê doanh thu về các đơn hàng của khách hàng</p>     
    </div>
      <div class="row">
        <div style="width: 500px; height: 450px; padding-bottom: 100px;">
        <h2 style="text-align: center;">Categories Available</h2>
            <canvas id="pieChart"></canvas>
          </div>
          <div style="width: 500px; height: 450px; padding-bottom: 100px;">
            <h2 style="text-align: center;">Brands Available</h2>
                <canvas id="pieChart2"></canvas>
              </div>
            </div>  
            <div style="width: 1350px;">
              <h2 style="text-align: center; color: white;">Products Available</h2>
                <canvas id="barChart"></canvas>
              </div>      

         
    

</div>
</div>

</div>
<app-footer></app-footer>