<app-header></app-header>
<div style="margin-top: 100px;">
<div class="dashboard">
  <app-admin-dashboard></app-admin-dashboard>
  <div class="container twinkle">
    <div class="confirmation-container">
        <h1>Thống kê doanh thu</h1>
        <p>Dưới đây là thống kê doanh thu về các đơn hàng của khách hàng</p>     
    </div>

    <div class="container">
        <h2>Monthly Revenue</h2>
        <div style="width: 1000px;height: 1000px;">
            <canvas id="myChart"></canvas>
          </div>
      </div>

    

</div>
</div>
</div>
<app-footer></app-footer>