<app-header></app-header>
<div class="change-password edit-overall twinkle">
    <h1>Change Password</h1>
    <form [formGroup]="orderForm" (ngSubmit)="changePassword()" novalidate>
      <div class="form-group">
        <label for="current-password">Current password</label>
        <input type="password" 
        [(ngModel)]="currentPassword" name="currentPassword" required
        id="current-password" class="form-control" 
        formControlName="currentPassword" 
        [class.is-invalid]="orderForm.get('currentPassword')!.invalid && orderForm.get('currentPassword')!.touched"
        >
        <div 
            *ngIf="orderForm.get('currentPassword')!.invalid && orderForm.get('currentPassword')!.touched" 
            class="invalid-feedback">
            Please enter your current password!
        </div>
      </div>
      <div class="form-group">
        <label for="new-password">A new password</label>
        <input type="password" id="new-password" class="form-control" [(ngModel)]="newPassword" name="newPassword" required
        formControlName="newPassword" 
        [class.is-invalid]="orderForm.get('newPassword')!.invalid && orderForm.get('newPassword')!.touched"
        >
        <div 
            *ngIf="orderForm.get('newPassword')!.invalid && orderForm.get('newPassword')!.touched" 
            class="invalid-feedback">
            Please enter new password!
        </div>
      </div>
      <div class="form-group">
        <label for="confirm-password">Confirm password</label>
        <input type="password" id="confirm-password" class="form-control" [(ngModel)]="confirmPassword" name="confirmPassword" required
        formControlName="confirmNewPassword" 
        [class.is-invalid]="orderForm.get('confirmNewPassword')!.invalid && orderForm.get('confirmNewPassword')!.touched"
        >
        <div 
            *ngIf="orderForm.get('confirmNewPassword')!.invalid && orderForm.get('confirmNewPassword')!.touched" 
            class="invalid-feedback">
            Please enter new password!
        </div>
        <div *ngIf="orderForm.hasError('passwordMismatch')" style="color: red;">The re-entered password does not match</div>
      </div>
      <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
  </div>