.about-us {
    padding: 40px 0;
    // text-align: center;
    margin-top: 40px;
  }

  .intro-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .intro-heading {
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
  }
  
  .intro-text {
    font-size: 40px;
    color: #666;
    margin-bottom: 10px;
  }

  .twinkle{
    animation: slide-in 0.5s ease-in-out, fade-in 0.5s ease-in-out;
}
@keyframes slide-in {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }