<app-header></app-header>
<div class="container edit-overall">
  <div class="about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-12 twinkle">
          <div class="intro-container">
            <h1 class="intro-heading">Twinkle E-commerce platform</h1>
          </div>
          <p></p>
        </div>
      </div>
    </div>
  </div>

  <div class="about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="intro-heading">We are the co-operator</h1>
        </div>
      </div>  
    </div>
      <img src="" alt="" class="col-md-6">
      <img src="" alt="" class="col-md-6">
    </div>
</div>
<app-footer></app-footer>