<app-header></app-header>
<div class="section edit-overall twinkle">
    <div class="item-1 item">
        <div class="dashboard">
            <app-admin-dashboard></app-admin-dashboard>
        </div>
    </div>
    <div class="item-2 item">
        <!-- Three function include: hide button controls, auto slide and custom interval -->
        <h1>Hide button controls</h1>
        <app-carousel [images]="imagesnicexu" [controls]="false" [autoSlide]="true" [slideInterval]="3000"></app-carousel> 

    </div>

    <div class="item-3 item">
            <h4>Famous</h4>
            <a href="">View all</a>
            <div class="product-shoes">
                <div class="container-fluid">
                <div class="slider-wrap">
                    <div class="slider-main">
                    <div class="item">
                        <i class="fa-solid fa-person-running"></i>
                        <p>Running</p>
                    </div>
                    <div class="item">
                        <i class="fa-solid fa-dumbbell"></i>
                        <p>Gym</p>
                    </div>
                    <div class="item">
                        <i class="fa-solid fa-basketball"></i>
                        <p>Basketball</p>
                    </div>
                    <div class="item">
                        <i class="fa-solid fa-football"></i>
                        <p>Football</p>
                    </div>
                    <div class="item">
                        <i class="fa-solid fa-baseball"></i>
                        <p>Baseball</p>
                    </div>
                    <div class="item">
                        <i class="fa-solid fa-baseball"></i>
                        <p>Baseball</p>
                    </div>
                    <div class="item">
                        <i class="fa-regular fa-futbol"></i>
                        <p>Football</p>
                    </div>
                    <div class="item">
                        <i class="fa-solid fa-person-walking"></i>
                        <p>Walking</p>
                    </div>
                    <div class="item">
                        <i class="fa-solid fa-person-walking"></i>
                        <p>Dancing</p>
                    </div>
                    </div>
                    <div class="button-area">
                    <button type="button" class="prev" appPrev><i class="fa-solid fa-angle-left"></i></button>
                    <button type="button" class="next" appNext><i class="fa-solid fa-angle-right"></i></button>
                    </div>
                </div>
                </div>
            </div> 

    </div>
    <div class="item-4 item">
        <h4>Stock available</h4>
        <!-- This is the content of image slider shoes -->
    <div class="product-shoes">
        <div class="container-fluid">
        <div class="slider-wrap">
            <div class="slider-main">
            <div class="item">
                <div class="text"><img src="./assets/images/shoes-1.jpg" alt=""></div>
            </div>
            <div class="item">
                <div class="text"><img src="./assets/images/shoes-2.jpg" alt=""></div>
            </div>
            <div class="item">
                <div class="text"><img src="./assets/images/shoes-3.jpg" alt=""></div>
            </div>
            <div class="item">
                <div class="text"><img src="./assets/images/shoes-4.jpg" alt=""></div>
            </div>
            <div class="item">
                <div class="text"><img src="./assets/images/shoes-5.jpg" alt=""></div>
            </div>
            <div class="item">
                <div class="text"><img src="./assets/images/shoes-6.jpg" alt=""></div>
            </div>
            <div class="item">
                <div class="text"><img src="./assets/images/shoes-7.jpg" alt=""></div>
            </div>
            </div>
            <div class="button-area">
            <button type="button" class="prev" appPrev><i class="fa-solid fa-angle-left"></i></button>
            <button type="button" class="next" appNext><i class="fa-solid fa-angle-right"></i></button>
            </div>
        </div>
        </div>
    </div>  
    </div>
    <div class="item-5 item">
        <div class="top">
            <h4>Famous</h4>
            <a href="">View all</a>
        </div>
        <div class="bottom"></div>


    </div>
    <div class="item-6 item">Item-6</div>
</div>

<app-footer></app-footer>

