.item {
    background-color: #232323;
    // border: 1px solid grey;
    min-height: 50px;
    font-weight: bold;
    border-radius: 10px;
}


.section {
    display: grid;
    // grid-template-columns: repeat(3 , 1fr);
    // grid-template-columns: 300px 100px 200px;
    grid-template-columns: 300px 800px auto;
    grid-template-rows: 600px 200px 351px 350px;
    column-gap: 40px;
    row-gap: 10px;
    margin-right: 20px;
    grid-template-areas: 
    "sidebar banner banner"
    "sidebar category checkout"
    "sidebar available checkout"
    "sidebar famous checkout";
}

.item-1 {
    grid-area: sidebar;
}

.dashboard {
    display: flex;
    margin-top: 20px;

    .dashboard-sidebar {
        // width: 240px;
        width: 300px;
        background-color: #007bff;
        padding: 20px;
        animation: slide-in 0.5s ease-in-out;
        height: 100%;
        margin-top: 94px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    
    @keyframes slide-in {
    0% {
    transform: translateX(-100%);
    }
    100% {
    transform: translateX(0);
    }
    }
    
    @keyframes fade-in {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
    }
    
    .dashboard-sidebar ul {
    list-style: none;
    padding: 0;
    }

    
    .dashboard-sidebar li {
    margin-bottom: 20px;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    font-size: 18px;
    }
    
    .dashboard-sidebar li:hover {
    color: #e3e3e3;
    font-size: 20px;
    font-weight: bold;
}
}



.item-2 {
    grid-area: banner;
    // margin: 20px;
    position: relative;
}

.carousel-container{
    position: relative;
    // margin: auto;
    // text-align: center;
    // width: 700px;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 8px 16px #dce1e1;
}

.carousel-container img{
    display: none;
    border-radius: 15px;
}

.carousel-container img.image-active {
    display: block;
    width: 100%;
    height: 400px;
    opacity: 1;
}

// dots//indicators
.carousel-dot-container {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;  
    padding: 0;
    margin-bottom: 1rem;
}

.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 5px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: opacity 0.6s ease;
    opacity: 0.5;
}

.active,
.dot:hover {
    opacity: 1;
}

// image transition fade effect
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

.btn-carousel {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    cursor: pointer;
}

.btn-prev {
    left: 0;
}

.btn-next {
    right: 0;
}

.icon-carousel {
    opacity: 0.5;
    transition: all 0.15s ease;
}

.icon-carousel:hover {
    color: #fff;
    opacity: 0.9;
}

.icon-carousel:active {
    opacity: 0.5;
}

.icon-next,
.icon-prev {
    font-size: 35px;
}

.item-3 {
    grid-area: category;
    margin-right: -15px;
}

// Slider section
.item-3 .product-shoes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 110px;
}

.item-3 .item i {
    font-size: 50px;
}

.item-3 .product-shoes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 120px;
}

.item-3 .product-shoes .container-fluid {
    width: 100%;
    height: 100%;
    padding: 0;
}

.item-3 .container-fluid .slider-wrap {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.item-3 .slider-wrap .slider-main {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}



.item-3 .slider-main .item {
    position: relative;
    display: inline-block;
    width: 235px;
    height: 100%;
    background-color: transparent;
    color: #fff;
    margin: 0px 12px;
}

.item-3 .slider-main .item {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100%;
    background-color: transparent;
    color: #fff;
    background-color: red;
    text-align: center;
}


.item-3 .slider-main .item .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item-3 .slider-main .item .text img {
    width: 200px;
    height: 110px;
    border-radius: 4%;
    object-fit: cover;
}

.item-3 .prev {
    position: absolute;
    left: 5%;
    top: 45%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    color: black;
    border: none;
    cursor: pointer;
}

.item-3 .next {
    position: absolute;
    right: 5%;
    top: 45%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    color: black;
    border: none;    
    cursor: pointer;
}

.item-4 {
    grid-area: available;
    padding-top: 40px;
    // background-color: #232323;
    margin-right: -15px;
}

// Slider section
.item-4 .product-shoes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 310px;
}

.item-4 .product-shoes .container-fluid {
    width: 100%;
    height: 100%;
    padding: 0;
}

.item-4 .container-fluid .slider-wrap {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.item-4 .slider-wrap .slider-main {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}



.item-4 .slider-main .item {
    position: relative;
    display: inline-block;
    width: 235px;
    height: 100%;
    background-color: transparent;
    color: #fff;
}

.item-4 .slider-main .item {
    position: relative;
    display: inline-block;
    width: 271px;
    height: 100%;
}


.item-4 .slider-main .item .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3c3c3c;
    border-radius: 10px;
    padding: 15px 15px 5px 15px;
    margin-top: 15px;
}

.item-4 .slider-main .item .text img {
    width: 220px;
    height: 110px;
    border-radius: 10px;
    object-fit: cover;
}

.item-4 .text p {
    margin: 10px 0px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.item-4 .small-content {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.item-4 .small-content i {
    font-size: 1rem;
    padding-right: 4px;
    margin-bottom: 20px;
}

// .item-4 .small-content  .fa-heart,
// .fa-percent {
//     color: orange;
// }

.item-4 h4 {
    position: absolute;
    left: 2%;
    top: 1%;
    color: #dfdfdf;
}

.item-4 .prev {
    position: absolute;
    right: 6%;
    top: 6%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    color: black;
    border: none;
    cursor: pointer;
}

.item-4 .next {
    position: absolute;
    right: 0%;
    top: 6%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    color: black;
    border: none;    
    cursor: pointer;
}

.item-5 {
    grid-area: famous;
    margin-right: -15px;
}

.item-6 {
    grid-area: checkout;
}




