<app-header></app-header>
<app-animated-cursors></app-animated-cursors>

<div class="section edit-overall twinkle">
    <div class="item-1 item">
        <div class="dashboard">
            <app-admin-dashboard></app-admin-dashboard>
        </div>
    </div>

    <div class="item-2 item">
        <!-- Three function include: hide button controls, auto slide and custom interval -->
        <app-carousel [images]="imagesnicexu" [controls]="false" [autoSlide]="true" [slideInterval]="3000"></app-carousel>   
    </div>

    <div class="item-3 item">
        <!-- This is the content of image slider shoes -->
    <div class="product-shoes">
        <div class="container-fluid">
        <div class="slider-wrap">
            <div class="slider-main">
                <div class="item">
                    <div class="content">
                        <div class="text">
                            <i class="fa-solid fa-person-running"></i>
                        </div>
                        <p>Running</p>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="text">
                            <i class="fa-solid fa-dumbbell"></i>
                        </div>
                        <p>Dumbbell</p>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="text">
                            <i class="fa-solid fa-basketball"></i>
                        </div>
                        <p>Basketball</p>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="text">
                            <i class="fa-solid fa-baseball"></i>
                        </div>
                        <p>Baseball</p>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="text">
                            <i class="fa-regular fa-futbol"></i>
                        </div>
                        <p>Futbol</p>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="text">
                            <i class="fa-solid fa-person-walking"></i>
                        </div>
                        <p>Walking</p>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="text">
                            <i class="fa-solid fa-person-running"></i>
                        </div>
                        <p>Running</p>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="text">
                            <i class="fa-solid fa-person-running"></i>
                        </div>
                        <p>Running</p>
                    </div>
                </div>
            </div>
            <div class="button-area">
            <h4>Category</h4>
                <button type="button" class="prev" appPrev>
                    <i class="fa-solid fa-angle-left"></i>
                </button>
                <button 
                type="button" class="next" appNext>
                    <i class="fa-solid fa-angle-right"></i>
                </button>
            </div>
        </div>
        </div>
    </div>  
    </div>


    <div class="item-4 item">
        <!-- This is the content of image slider shoes -->
    <div class="product-shoes">
        <div class="container-fluid">
        <div class="slider-wrap">
            <div class="slider-main">
            <div class="item">
                <div class="text">
                    <img src="./assets/images/model-1.jpg" alt="">
                    <p>Tình yêu đâu phải như giấc mộng mà ta vẫn mong </p>
                    <div class="small-content">
                        <div class="money"><i class="fa-solid fa-dollar-sign"></i>6.73</div>
                        <div class="heart"><i class="fa-solid fa-heart" style="color:#f97b16"></i>456k</div>
                        <div class="percent"><i class="fa-solid fa-percent" style="color:#f97b16"></i>5,653</div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="text">
                    <img src="./assets/images/model-2.jpg" alt="">
                    <p>Tình yêu đâu phải như giấc mộng mà ta vẫn mong </p>
                    <div class="small-content">
                        <div class="money"><i class="fa-solid fa-dollar-sign"></i>6.73</div>
                        <div class="heart"><i class="fa-solid fa-heart" style="color:#f97b16"></i>456k</div>
                        <div class="percent"><i class="fa-solid fa-percent" style="color:#f97b16"></i>5,653</div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="text">
                    <img src="./assets/images/model-2.jpg" alt="">
                    <p>Tình yêu đâu phải như giấc mộng mà ta vẫn mong </p>
                    <div class="small-content">
                        <div class="money"><i class="fa-solid fa-dollar-sign"></i>6.73</div>
                        <div class="heart"><i class="fa-solid fa-heart" style="color:#f97b16"></i>456k</div>
                        <div class="percent"><i class="fa-solid fa-percent" style="color:#f97b16"></i>5,653</div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="text">
                    <img src="./assets/images/shoes-4.jpg" alt="">
                    <p>Tình yêu đâu phải như giấc mộng mà ta vẫn mong </p>
                    <div class="small-content">
                        <div class="money"><i class="fa-solid fa-dollar-sign"></i>6.73</div>
                        <div class="heart"><i class="fa-solid fa-heart" style="color:#f97b16"></i>456k</div>
                        <div class="percent"><i class="fa-solid fa-percent" style="color:#f97b16"></i>5,653</div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="text">
                    <img src="./assets/images/shoes-5.jpg" alt="">
                    <p>Tình yêu đâu phải như giấc mộng mà ta vẫn mong </p>
                    <div class="small-content">
                        <div class="money"><i class="fa-solid fa-dollar-sign"></i>6.73</div>
                        <div class="heart"><i class="fa-solid fa-heart" style="color:#f97b16"></i>456k</div>
                        <div class="percent"><i class="fa-solid fa-percent" style="color:#f97b16"></i>5,653</div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="text">
                    <img src="./assets/images/shoes-6.jpg" alt="">
                    <p>Tình yêu đâu phải như giấc mộng mà ta vẫn mong </p>
                    <div class="small-content">
                        <div class="money"><i class="fa-solid fa-dollar-sign"></i>6.73</div>
                        <div class="heart"><i class="fa-solid fa-heart" style="color:#f97b16"></i>456k</div>
                        <div class="percent"><i class="fa-solid fa-percent" style="color:#f97b16"></i>5,653</div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="text">
                    <img src="./assets/images/shoes-7.jpg" alt="">
                    <p>Tình yêu đâu phải như giấc mộng mà ta vẫn mong </p>
                    <div class="small-content">
                        <div class="money"><i class="fa-solid fa-dollar-sign"></i>6.73</div>
                        <div class="heart"><i class="fa-solid fa-heart" style="color:#f97b16"></i>456k</div>
                        <div class="percent"><i class="fa-solid fa-percent" style="color:#f97b16"></i>5,653</div>
                    </div>
                </div>
            </div>
            </div>
            <div class="button-area">
            <h4>Stock available</h4>
                <button type="button" class="prev" appPrev><i class="fa-solid fa-angle-left"></i></button>
                <button type="button" class="next" appNext><i class="fa-solid fa-angle-right"></i></button>
            </div>
        </div>
        </div>
    </div>  
    </div>

    <div class="item-5 item">
        <div class="top">
            <h4>Famous Shoes</h4>
            <a href="">View all<i class="fa-solid fa-right-from-bracket"></i></a>
        </div>
        <div class="bottom">
            <div class="section">
                <!-- Khối 1 -->
                <div class="left"><img src="./assets/images/model-1.jpg" alt=""></div>
                <div class="right">
                    <h5>Nike</h5>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <div class="price"><span>$</span>7.59</div>
                    <button>Order</button>
                </div>
            </div>
            <div class="section">
                <!-- Khối 2 -->
                <div class="left"><img src="./assets/images/model-1.jpg" alt=""></div>
                <div class="right">
                    <h5>Adidas</h5>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <div class="price"><span>$</span>7.59</div>
                    <button>Order</button>
                </div>
            </div>
            <div class="section">
                <!-- Khối 3 -->
                <div class="left"><img src="./assets/images/model-1.jpg" alt=""></div>
                <div class="right">
                    <h5>Converse</h5>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <div class="price"><span>$</span>7.59</div>
                    <button>Order</button>
                </div>
            </div>
            <div class="section">
                <!-- Khối 4 -->
                <div class="left"><img src="./assets/images/model-1.jpg" alt=""></div>
                <div class="right">
                    <h5>Vans</h5>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <div class="price"><span>$</span>7.59</div>
                    <button>Order</button>
                </div>
            </div>
        </div>
    </div>

    <div class="item-6 item">Item-6

    </div>
</div>

<app-footer></app-footer>

