<app-header></app-header>
<div class="section edit-overall twinkle">
    <div class="item-1 item">        
    </div>
    <div class="item-2 item">
     

    </div>
    <div class="item-3 item">Item-3</div>
    <div class="item-4 item">
        <h3>Stock available</h3>
        <!-- This is the content of image slider shoes -->
    <div class="product-shoes">
        <div class="container-fluid">
        <div class="slider-wrap">
            <div class="slider-main">
            <div class="item">
                <div class="text"><img src="./assets/images/shoes-1.jpg" alt=""></div>
            </div>
            <div class="item">
                <div class="text"><img src="./assets/images/shoes-2.jpg" alt=""></div>
            </div>
            <div class="item">
                <div class="text"><img src="./assets/images/shoes-3.jpg" alt=""></div>
            </div>
            <div class="item">
                <div class="text"><img src="./assets/images/shoes-4.jpg" alt=""></div>
            </div>
            <div class="item">
                <div class="text"><img src="./assets/images/shoes-5.jpg" alt=""></div>
            </div>
            <div class="item">
                <div class="text"><img src="./assets/images/shoes-6.jpg" alt=""></div>
            </div>
            <div class="item">
                <div class="text"><img src="./assets/images/shoes-7.jpg" alt=""></div>
            </div>
            </div>
            <div class="button-area">
            <button type="button" class="prev" appPrev><i class="fa-solid fa-angle-left"></i></button>
            <button type="button" class="next" appNext><i class="fa-solid fa-angle-right"></i></button>
            </div>
        </div>
        </div>
    </div>  
    </div>
    <div class="item-5 item">Item-5</div>
    <div class="item-6 item">Item-6</div>
</div>

<app-footer></app-footer>

