

.intro-section {
    color: white;
    padding: 20px;
    text-align: center;
}

.intro-section h1 {
  font-family: 'Oswald', sans-serif; 
}

.intro-section p {
  font-size: 18px;
}

.product-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-top: 20px;
}
.thumbnail-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.thumbnail-item {
    width: 120px;
    height: 120px;
    margin-right: 5px;
    /* Thêm khoảng cách ngang giữa các ảnh */
}

.thumbnail-item:last-child {
    margin-right: 0;
    /* Xóa khoảng cách ngang ở ảnh cuối cùng */
}

.thumbnail-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnail-item.active {
    border: 2px solid yellowgreen;
}
.product-details {
    color: white;
    padding: 20px;
}

.product-actions {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-actions button {
    margin-right: 15px;
    font-size: 16px;
    border-radius: 10px;
}

.border-wrapper {
    border: 1px solid white;      
  }

  .product-quantity {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: 10px;
  }

  .product-quantity button {
      background-color: transparent;
      border: none;
      color: white;
      font-size: 16px;
      cursor: pointer;
  }
  .product-quantity input {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    text-align: center;
    width: 40px;
    margin: 0 10px;
  }
  .product-quantity input:focus {
    outline: none;
  }  

// Recommendation products section
span  h2 {
  color: #ffffff;
  padding: 20px 0px 10px;

}
.section {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 500px;
}

.card {
  width: 30%;
  left: 0;
}



.card-images {
  position: inherit;
  height: 50%;
  background-image: url(./images/cat.png);
  width: 100%;
  object-fit: cover;
}

.card-title {
  padding: 10px 20px;
  font-size: 20px;
  text-decoration: none;
}

.card-details {
  padding: 10px 20px;
  font-size: 16px;
}






.buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
}

.buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff5;
  color: red;
  font-weight: bold;
  font-family: monospace;
}



  .twinkle{
    animation: slide-in 0.5s ease-in-out, fade-in 0.5s ease-in-out;
}
@keyframes slide-in {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

// Responsive
// Mobile & tablet: width < 1024px
@media only screen and (max-width: 63.9375em) {

}

// Mobile: width < 768px
@media only screen and (max-width: 46.1875em) {

}

// Table: width >= 768px and width < 1024px
@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {

}
  


  