/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.edit-overall {
    margin-top: 120px!important;
}


// Using for the products.component.scss
:root {
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%);
}